/bin/obj
/bin/.clipboard
/bin/jsmpeg-vnc
/bin/jsmpeg-vnc.exe
/bin/jsmpeg-vnc-gdi.exe
/bin/jsmpeg-vnc-desktop-duplication.exe
/project/jsmpeg-vnc.layout
/project/jsmpeg-vnc.depend
/source/linux/ffmpeg
/source/linux/libwebsockets
ffmpeg
libwebsockets
